<div class="w-full h-full">
<h2>Lợi ích khi cài đặt PWA</h2>
<div class="w-full">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
    <div *ngFor="let item of BENEFIT_LIST" class="bg-gray-800 border border-gray-200 rounded-lg p-6 flex flex-col items-start shadow-sm transition hover:shadow-lg hover:-translate-y-1 duration-200 hover:border-purple-500">
      <div class="text-3xl mb-4 textColorCommon">
        <i [class]="item.icon"></i>
      </div>
      <h3 class="text-lg font-bold mb-2">{{ item.title }}</h3>
      <p class="text-gray-300">{{ item.content }}</p>
    </div>
  </div>
</div>
</div>
