<app-playlist-modal-layout
  [playlist]="playlistAsSong"
  [currentSong]="currentSong ? ytTrackToSong(currentSong) : null"
  [currentIndex]="currentIndex"
  [isPlaying]="isPlaying"
  [isShuffling]="isShuffling"
  [progressPercentage]="progressPercentage()"
  [durationTime]="countdownTime()"
  [songThumbnail]="songThumbnail || ''"
  [songTitle]="songTitle || ''"
  [songArtist]="songArtist || ''"
  [trackBySongId]="trackBySongId"
  (playSong)="playSong({ song: $event.song, playlist: playlistAsSong, index: $event.index })"
  (previousTrack)="previousTrack()"
  (nextTrack)="nextTrack()"
  (togglePlayPause)="togglePlayPause()"
  (toggleShuffle)="toggleShuffle()"
  (onIonReorder)="onIonReorder($event)"
>
  <ng-container playlist-header-actions>
     <app-btn-add-playlist [songId]="currentSong?.videoId!"></app-btn-add-playlist>
    <app-btn-down-and-heart [song]="currentSong ? ytTrackToSong(currentSong) : playlistAsSong[0]"></app-btn-down-and-heart>
  </ng-container>
</app-playlist-modal-layout>
