<!-- Main Player Container -->
<div
  class="player-container h-screen text-white relative overflow-hidden bg-gradient-to-br from-purple-600 from-[20%] via-indigo-600 to-pink-600 ptAreanSave"
>
  <!-- Background Album Art -->
  <div class="absolute inset-0 opacity-50">
    <img
      [src]="songThumbnail"
      [alt]="songTitle"
      class="w-full h-full object-cover blur-md scale-110"
      *ngIf="songThumbnail"
    />
  </div>

  <app-player-header
    (back)="handleBack()"
    (menu)="openPlaylist()"
  ></app-player-header>

  <!-- Main Content -->
  <div
    class="relative z-10 flex flex-col h-[calc(100%-4rem)] px-6 justify-between"
  >
    <!-- Album Art -->

    <div class="flex-1 flex items-center justify-center ">
        <app-player-info
      [thumbnail]="songThumbnail"
      [title]="songTitle"
      [artist]="songArtist"
      [isPlaying]="isPlaying"
    ></app-player-info>

    </div>


    <iframe
      *ngIf="iframeKey > 0 && showIframe && safeVideoUrl"
      [attr.key]="iframeKey"
      #ytIframe
      width="0"
      height="0"
      [src]="safeVideoUrl"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
      class="rounded-lg opacity-0 pointer-events-none absolute z-[-1]"
      (load)="onIframeLoad()"
    >
    </iframe>

    <!-- Progress Bar -->
    <div class="mb-8">
      <div
        class="flex items-end justify-between text-sm text-white/70 mb-5 px-5 h-[40px]"
      >
        <!-- Có thể thêm nút yêu thích, thêm playlist ở đây nếu muốn -->
      </div>
      <!-- Enhanced Progress Bar -->
      <app-progress-bar
        [progress]="progress()"
        [duration]="videoDuration"
        [currentTime]="videoCurrentTime"
        [isDragging]="dragging"
        [isHovering]="hoverPercent >= 0"
        [hover]="hoverPercent"
        (seek)="seekToEvent($event)"
        (dragStart)="dragging = true"
        (dragEnd)="dragging = false"
        (hoverChange)="hoverPercent = $event"
      ></app-progress-bar>
    </div>

    <!-- Main Controls -->
    <div class="flex items-center justify-around w-full pb-16">
      <!-- Previous -->
      <button
        (click)="previous()"
        class="!w-10 !h-10 rounded-full transition-colors"
      >
        <i class="fas fa-step-backward text-2xl"></i>
      </button>
      <!-- Play/Pause -->
      <button
        (click)="isPlaying ? pause() : play()"
        class="!w-14 !h-14 text-white rounded-full flex-shrink-0 flex items-center justify-center hover:scale-105 transition-transform shadow-2xl"
      >
        <i
          class="fas text-3xl"
          [ngClass]="isPlaying ? 'fa-pause' : 'fa-play'"
        ></i>
      </button>
      <!-- Next -->
      <button (click)="next()" class="p-3 rounded-full transition-colors">
        <i class="fas fa-step-forward text-2xl"></i>
      </button>
    </div>
  </div>
</div>
