<div class="p-4">
  <h2 class="text-lg font-bold mb-4">Thêm vào danh sách phát</h2>


  <div class="flex gap-2 mb-4">
    <button (click)="showCreatePlaylistAlert()" class="bg-blue-500 text-white px-3 py-1 rounded flex-1">Tạo playlist mới</button>
  </div>

  <div *ngIf="loading" class="text-center py-4">Đang tải danh sách...</div>
  <div *ngIf="!loading && playlists.length === 0" class="text-center py-4 text-gray-500">Chưa có playlist nào.</div>

  <ul *ngIf="!loading && playlists.length > 0" class="space-y-2 overflow-y-auto h-full scrollbar-hide">
    <li *ngFor="let playlist of playlists" class="flex items-center gap-2 p-2 border rounded">
      <input #cb type="checkbox"
             [checked]="isSongInPlaylist(playlist)"
             (change)="onTogglePlaylist(playlist, cb.checked)"
             [disabled]="!currentSongId"
      >
      <span class="font-medium">{{ playlist.name }}</span>
      <span class="text-xs text-gray-500">({{ playlist.songs?.length || 0 }} bài hát)</span>
    </li>
  </ul>

</div>
