<div class="bg-gray-800 h-full">
  <div class="flex items-center justify-between p-4">
    <h2 class="text-lg font-semibold">Thêm vào danh sách phát</h2>
    <button
      (click)="showCreatePlaylistAlert()"
      class="h-10 w-10 text-white rounded-full bg-gray-500/10 flex items-center justify-center"
    >
      <i class="fa fa-plus text-xl"></i>
    </button>
  </div>
  <ion-content>
    @if (playlists.length === 0) {
    <div class="text-center py-4 text-gray-500">Chưa có playlist nào.</div>
    } @else {
    <ion-list
      class="space-y-3 overflow-y-auto h-full scrollbar-hide px-4 bg-gray-800"
    >
      @for (playlist of playlists; track playlist.id) {
      <label
        class="flex items-center gap-2 p-3 border rounded cursor-pointer select-none"
        (click)="cb.click()"
      >
        <input
          #cb
          type="checkbox"
          [checked]="isSongInPlaylist(playlist)"
          (change)="onTogglePlaylist(playlist, cb.checked)"
          [disabled]="!songId"
          (click)="$event.stopPropagation()"
        />
        <span class="font-medium">{{ playlist.name }}</span>
        <span class="text-xs text-gray-500"
          >({{ playlist.songs.length || 0 }} bài hát)</span
        >
      </label>
      }
    </ion-list>
    }
  </ion-content>
</div>
