<ion-header mode="md" [translucent]="true" class="p-4 bg-grid"
[ngClass]="isNative? 'pt-10': 'pt-4'"
>
  <div class="relative ">
    <input
      type="text"
      [value]="searchQuery()"
      (input)="onInputChange($event)"
      (keyup.enter)="onSearchButtonClick()"
      placeholder="Nhập tên bài hát, nghệ sĩ, album..."
      class="input w-full pl-10 pr-10 bg-gray-700"
    />
    <button
      class="h-10 w-10 absolute left-0 top-1/2 transform -translate-y-1/2 text-gray-400"
      (click)="onBack()"
    >
      <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button
      class="h-10 w-10 absolute right-0 top-1/2 transform -translate-y-1/2 text-gray-400 hover:text-gray-600 disabled:opacity-50"
      (click)="onSearchButtonClick()"
    >
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</ion-header>
<ion-content class="search-page h-full flex flex-col bg-grid ptAreanSave">
  <!-- Content -->
  <div class="flex-1 overflow-y-auto">
    <!-- Search Section -->
    <div class="p-4">
      <!-- Loading State -->
      <div *ngIf="isSearching()" class="text-center py-8">
        <div class="spinner mx-auto"></div>
        <p class="text-gray-400 mt-2">Searching...</p>
      </div>
      <!-- Tabs -->
      @if (searchResults().length > 0 && !isSearching()) {
      <div class="space-y-3">

        <ng-container *ngFor="let song of songSectionData(); trackBy: trackBySongId">
        <app-song-item-home
          [song]="song"
          [isHomePage]="false"
          [showDuration]="true"
          [showArtist]="true"
          (songClick)="onSongClick(song)"
          (songOptions)="onSongOptions(song)">
        </app-song-item-home>
      </ng-container>
      </div>
      }
      <!-- No Results -->
      @if (searchQuery().length >= 3 && searchResults().length === 0 &&
      !isSearching()) {
      <div class="text-center py-8">
        <svg
          class="w-16 h-16 text-gray-400 mx-auto mb-4"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
        <p class="text-gray-400">No results found</p>
        <p class="text-sm text-gray-500">Try different keywords</p>
      </div>
      }
    </div>
    <!-- Empty State -->
    @if (searchQuery().length < 3 && searchResults().length === 0 &&
    !isSearching()) {
    <div
      class="flex flex-col items-center justify-center h-64 text-center px-4"
    >
      <i class="fa-solid fa-magnifying-glass text-purple-400 mb-4" style="font-size: 5rem;"></i>
      <h3 class="text-lg font-semibold text-gray-300 mb-2">
        Tìm kiếm bài hát yêu thích
      </h3>
      <p class="text-gray-400 text-sm">
        Nhập tên bài hát hoặc nghệ sĩ để bắt đầu tìm kiếm.
      </p>
    </div>
    }
  </div>
</ion-content>
