<div
  (click)="onPlay()"
  (contextmenu)="onShowMenu($event)"
  class="song-item-container mb-2 transition-all duration-300 cursor-pointer relative"
  [ngClass]="{
        'song-item-active': isCurrentSong
      }"
>
  <div class="song-item-glass-bg">
    <div class="song-item-glass-blur"></div>
    <div class="song-item-glass-highlight"></div>
  </div>

  <div class="flex items-center space-x-3 relative z-20 px-3 py-2">
    <!-- Thumbnail -->
    <img
      [src]="
        song.thumbnail ||
        song.thumbnail_url ||
        'assets/images/musical-note.webp'
      "
      [alt]="song.title"
      (error)="onImageError($event)"
      class="w-12 h-12 rounded-full object-cover flex-shrink-0 border-2 shadow-2xl shadow-rose-500"
      [ngClass]="{
        'spin-with-fill border-lime-500': isThisSongPlaying,
        'spin-paused border-purple-500': !isThisSongPlaying,
        'border-blue-500': isCurrentSong && !isThisSongPlaying
      }"
    />
    <!-- Song Info -->
    <div class="flex-1 min-w-0 relative z-30">
      <h4
        class="font-medium truncate transition-colors duration-300"
        [ngClass]="{
          'text-pink-200': isCurrentSong,
          'text-gray-100': !isCurrentSong
        }"
      >
        {{ song.title }}
      </h4>
      <p
        class="text-sm truncate transition-colors duration-300"
        [ngClass]="{
          'text-pink-100': isCurrentSong,
          'text-gray-400': !isCurrentSong
        }"
      >
        {{ song.artist }}
      </p>
      @if(!isCurrentPlayPage){
      <p
        class="text-xs"
        [ngClass]="{
          'text-pink-100': isCurrentSong,
          'text-gray-400': !isCurrentSong
        }"
      >
        {{ song.duration_formatted }}
      </p>
      }
    </div>
    <!-- Action Buttons -->
    <div class="flex-shrink-0 flex justify-end items-center space-x-2">
      @if (isCurrentPlayPage) {
      <ion-reorder slot="end">
        <ion-icon
          class="text-gray-400"
          name="reorder-three-outline"
          size="large"
        ></ion-icon>
      </ion-reorder>
      } @else if (isDownPage) {
        @if (isDownloaded) {
      <div class="text-green-600">
        <i class="fa-solid fa-check-circle text-lg"></i>
      </div>
      } @else if (isDownloading) {
      <div class="text-right ">
        <div
          class="w-6 h-6 border-2 border-purple-500 border-t-transparent rounded-full animate-spin mx-auto"
        ></div>
        <p class="text-xs text-purple-600 mt-1">{{ downloadProgress }}%</p>
      </div>
      } @else {
      <button
        (click)="download.emit(song)"
      >
        <i
          class="fa-solid fa-cloud-arrow-down bg-gradient-to-r from-pink-400 to-pink-600 bg-clip-text text-transparent"
        ></i>
      </button>
      } } @else if (isListPage) {
      <button
        (click)="onShowMenu($event)"
        class="w-10 h-10 flex items-center justify-center hover:bg-gray-700 rounded-full transition-colors text-gray-500"
      >
        @if (isThisSongPlaying) {
        <div class="text-blue-500">
          <app-lottie-equalizer
            [width]="20"
            [height]="20"
            cssClass="playing"
          ></app-lottie-equalizer>
        </div>
        } @else {
        <ion-icon name="apps"></ion-icon>
        }
      </button>
      }
    </div>
  </div>
</div>
