<div class="relative">
  <div
  class="flex items-center space-x-3 cursor-pointer rounded-lg p-2 mb-2 transition-colors duration-200"
  (click)="onSongClick()"
>
  <!-- Thumbnail -->
  <div
    class="w-12 h-12 rounded-md overflow-hidden flex-shrink-0 relative group shadow shadow-rose-300"
  >
    <img
      [src]="song.thumbnail_url"
      [alt]="song.title"
      class="w-full h-full object-cover"
      loading="lazy"
    />

    <div
      class="absolute inset-0 flex items-center justify-center transition-all duration-200"
    >
      @if (playerState.currentSong && song.id === playerState.currentSong.id &&
      sectionPlaylist === playerState.currentPlaylist) {
      <app-lottie-equalizer
        [width]="20"
        [height]="20"
        cssClass="playing"
      ></app-lottie-equalizer>
      }
    </div>
  </div>

  <!-- Song Info -->
  <div class="flex-1 min-w-0">
    <h3 class="text-white text-sm font-medium truncate leading-tight">
      {{ song.title }}
    </h3>
    @if (showArtist || showDuration) {
    <p class="text-gray-400 text-xs truncate mt-0.5">
      @if (showArtist) {
      {{ song.artist }}
      } @if (showArtist && showDuration) {
      <span class="text-gray-500"> • </span>
      } @if (showDuration) {
      <span class="text-gray-500">{{ song.duration_formatted }}</span>
      }
    </p>
    }
  </div>

  <!-- Options -->
  <div class="flex items-center flex-shrink-0">
    <!-- Options button -->
    <button
    *ngIf="!isShowBoxFunction"
      class="w-6 h-6 text-white hover:text-white rounded-full flex items-center justify-center transition-colors duration-200"
      (click)="toogleShowBoxFunction(); $event.stopPropagation();"
    >
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </button>
  </div>
</div>
@if(isShowBoxFunction){
  <app-song-item-actions [song]="song" [modeItem]="'itemHome'" (close)="toogleShowBoxFunction()"></app-song-item-actions>
}
</div>
