<section class="mb-5">
  <!-- Section Header -->
  @if (title) {
    <div class="px-4 section-header">
      <h2 >{{ title }}</h2>
    </div>
  }

  <!-- Songs Content -->
  <swiper-container
    navigation="false"
    pagination="false"
    slides-per-view="auto"
    speed="400"
    class="w-full responsive-swiper"
  >
    @if (songs && songs.length > 0) {
      @for (songGroup of getGroupedSongs(songs); track $index) {
        <swiper-slide class="!w-auto">
          <div class="px-2 w-full">
            <div class="space-y-1">
              @for (song of songGroup; track song.id) {
                <app-song-item-home
                  [song]="song"
                  [sectionPlaylist]="songs"
                  [playerState]="playerState"
                  (songClick)="onSongClick($event)"
                  (songOptions)="onSongOptions($event)"
                />
              }
            </div>
          </div>
        </swiper-slide>
      }
    } @else {
      <!-- Loading Skeleton Slides -->
      @for (item of getSkeletonItems(); track $index) {
        <swiper-slide class="!w-auto">
          <div class="rounded-lg  w-[320px]">
            <div class="space-y-1">
              @for (skeletonItem of item; track $index) {
                <!-- Skeleton Song Item -->
                <app-skeleton-song-item
                  [index]="$index"
                />
              }
            </div>
          </div>
        </swiper-slide>
      }
    }
  </swiper-container>
</section>
