.h__login {
  min-height: 100vh; /* mặc định cho màn hình nhỏ */
}

.m-version{
  @apply mb-10;
}

@media (min-width: 376px) {
  .h__login {
    min-height: unset; /* bỏ min-height để set height chuẩn */
    height: calc(100vh - var(--h-header));
  }

  .m-version{
  @apply mb-0;
}
}
