
.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  background-color: black;
}

.img-top {
  position: absolute;
  left: 0;
  right: 0;
  top:-15px;
  width: auto;
  height: 45vh;
  opacity: 1;
  width: 100%;
  object-fit: cover;
}


.blur-overlay {
  @apply absolute inset-0 z-[1];
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.5) 5%,
    rgba(0, 0, 0, 0.2) 10%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.mobile-frame {
  max-width: 430px;
  min-height: 100vh;
  margin: 0 auto;
  border-radius: 1.5rem;
  box-shadow: 0 0 32px 0 rgba(0,0,0,0.25);
  background: #000;
  position: relative;
  overflow: hidden;
}

body, html {
  background: #18181b;
}
