<ion-app class="bg-grid">
  <!-- Neon Blobs Background -->
  <div class="blob bg-[#ff00ff]/20 w-96 h-96 top-0 left-0 absolute"></div>
  <div class="blob bg-[#00ffff]/20 w-96 h-96 bottom-0 right-0 absolute"></div>
  <div
    class="blob bg-[#8b5cf6]/20 w-96 h-96 bottom-1/4 left-1/4 absolute"
  ></div>
  <!-- Glow Effect -->
  <div class="glow top-0 left-1/2 -translate-x-1/2 absolute"></div>
  <div class="glow bottom-0 left-1/2 -translate-x-1/2 absolute"></div>
  <div class="z-10">
    <ion-router-outlet></ion-router-outlet>
    <app-loading></app-loading>

    <app-pwa-installation-modal />
  </div>
</ion-app>
