<!-- Album Art -->
<div class="flex-1 flex items-center justify-center mb-10">
  <div
    class="w-[90%] aspect-square rounded-full overflow-hidden shadow-2xl spin-with-fill"
    [ngClass]="{ 'spin-paused': !isPlaying }"
  >
    @if(thumbnail){
    <img
      [src]="thumbnail"
      [alt]="title || 'Album Art'"
      class="w-full h-full object-cover"
    />
    }@else {
    <div
      class="w-full h-full flex items-center justify-center"
    >
      <i
        class="fa-solid fa-compact-disc text-[20rem] bg-gradient-to-r from-purple-500 to-pink-500 bg-clip-text text-transparent"
      ></i>
    </div>
    }
  </div>
</div>
<!-- Song Info -->
<div class="text-center  max-h-[100px] h-[100px] flex flex-col justify-end">
  <h1 class="text-xl font-medium mb-2 text-white">
    {{ title || "No song selected" }}
  </h1>
  <p class="text-white/70">{{ artist || "Unknown Artist" }}</p>
</div>
