<div #scrollContainer  class="container">
  <div class="containerContent">
    <section class="section-top">
      <h1 class="textColorCommon">
        Hướng dẫn cài đặt ứng dụng trên màn hình chính
      </h1>
      <p>
        Cài đặt ứng dụng web trên màn hình chính giúp bạn truy cập nhanh chóng,
        trải nghiệm như ứng dụng gốc và thậm chí có thể sử dụng khi không có kết
        nối internet. Hãy làm theo các bước dưới đây để cài đặt!
      </p>
    </section>

    <section class="section-benefit">
      <app-benefit-common />
    </section>
    <section class="section-tab">
      <app-tab-agent />
    </section>
    <section class="section-caution"></section>
    <section class="section-tab"></section>
    <section class="section-Q&A"></section>
  </div>
</div>
