<div class="home-container overflow-y-auto scrollbar-hide bg-page">
  <!-- Main Container -->
  <div class="space-y-8"
  >
    <!-- Everyone's Listening Section -->
    <app-song-section
      title="Mọi người cùng nghe"
      [songs]="listEveryoneToListens"
      (songClick)="onSongClick($event)"
      (songPlay)="onSongPlay($event)"
      (songOptions)="onSongOptions($event)"
    />

    <!-- Remix Songs Section -->
    <app-song-section
      title="Nhạc Remix"
      [songs]="listRemixSongs"
      (songClick)="onSongClick($event)"
      (songPlay)="onSongPlay($event)"
      (songOptions)="onSongOptions($event)"
    />

    <!-- Instrumental Songs Section -->
    <app-song-section
      title="Nhạc Không Lời"
      [songs]="listInstrumentalSongs"
      (songClick)="onSongClick($event)"
      (songPlay)="onSongPlay($event)"
      (songOptions)="onSongOptions($event)"
    />

    <!-- TikTok Songs Section -->
    <app-song-section
      title="Nhạc TikTok Hot"
      [songs]="listTikTokSongs"
      (songClick)="onSongClick($event)"
      (songPlay)="onSongPlay($event)"
      (songOptions)="onSongOptions($event)"
    />
  </div>
  <div
  class="h-1"
  [ngClass]="pbCustom">
    <app-footer></app-footer>
  </div>
</div>
