<ion-content [fullscreen]="true"  class="home-container">
  <!-- Main Container -->
  <div class="space-y-8 py-6">

    <!-- Everyone's Listening Section -->
    <app-song-section
      title="Mọi người cùng nghe"
      [songs]="listEveryoneToListens"
      (songClick)="onSongClick($event)"
      (songPlay)="onSongPlay($event)"
      (songOptions)="onSongOptions($event)"
    />

    <!-- Remix Songs Section -->
    <app-song-section
      title="Nhạc Remix"
      [songs]="listRemixSongs"
      (songClick)="onSongClick($event)"
      (songPlay)="onSongPlay($event)"
      (songOptions)="onSongOptions($event)"
    />

    <!-- Instrumental Songs Section -->
    <app-song-section
      title="Nhạc Không Lời"
      [songs]="listInstrumentalSongs"
      (songClick)="onSongClick($event)"
      (songPlay)="onSongPlay($event)"
      (songOptions)="onSongOptions($event)"
    />

    <!-- TikTok Songs Section -->
    <app-song-section
      title="Nhạc TikTok Hot"
      [songs]="listTikTokSongs"
      (songClick)="onSongClick($event)"
      (songPlay)="onSongPlay($event)"
      (songOptions)="onSongOptions($event)"
    />

  </div>

  <!-- Footer -->
  <div class="mt-8"
  [ngClass]="isCurrentSongPlaying ?'pb-48': 'pb-28'"
  >
    <app-footer />
  </div>
</ion-content>
