<app-playlist-modal-layout
  [playlist]="currentPlaylist()"
  [currentSong]="currentSong()"
  [currentIndex]="getCurrentSongIndex()"
  [isPlaying]="isPlaying()"
  [isShuffling]="isShuffling()"
  [progressPercentage]="progressPercentage()"
  [durationTime]="durationTime()"
[songThumbnail]="currentSong()?.thumbnail_url || ''"
[songTitle]="currentSong()?.title || ''"
[songArtist]="currentSong()?.artist || ''"
  [trackBySongId]="trackBySongId"
  (playSong)="playSong($event.song, $event.index)"
  (previousTrack)="previousTrack()"
  (nextTrack)="nextTrack()"
  (togglePlayPause)="togglePlayPause()"
  (toggleShuffle)="toggleShuffle()"
  (onIonReorder)="onIonReorder($event)"
>
  <ng-container playlist-header-actions>
    <app-btn-add-playlist [songId]="currentSong()?.id!"></app-btn-add-playlist>
    <app-btn-down-and-heart [song]="currentSong()!"></app-btn-down-and-heart>
  </ng-container>
</app-playlist-modal-layout>
