<div class="flex__middle flex-col">
  <h2 class="title">Chọn nền tảng của bạn</h2>
  <div
    class="flex__middle rounded-md border-2 border-[#f472b6] bg-gray-50 mb-8"
  >
    @for(tab of tabs; track tab.key) {
    <button
      class="btn-tab rounded-md flex__middle text-indigo-500"
      [ngClass]="activeTab === tab.key ? 'bg-pink-400 text-white' : 'bg-white'"
      (click)="setTab(tab.key)"
    >
      <i [class]="tab.icon + ' text-lg'"></i>
      {{ tab.label }}
    </button>
    }
  </div>
  <div class="flex__between flex-col lg:flex-row  w-full gap-x-6">
    @for(item of listAgent; track item.id) {
      <div class="w-full h-full mb-8 ">
        <div
          (click)="selectAgent(item)"
          class="flex__start h-16 w-full gap-x-3 rounded-t-md border border-gray-400 bg-gray-700/70 p-4  "
        >
          <p
            class="rounded-full w-7 h-7 flex__middle shrink-0 bgColorCommon font-semibold"
          >
            {{ item.id }}
          </p>
          <p class="">
            {{ item.content }}
          </p>
        </div>
        <div class="w-full p-2 border border-gray-400 border-t-0 rounded-b-md bg-gray-700/70">
          <div class="w-full  border-8 border-black rounded-xl">
            <img [src]="item.img" class="w-full h-full object-fit " alt="" />
          </div>
        </div>
      </div>
      }

  </div>

</div>
